mycompany:registry=https://azure.npm/path/registry/
always-auth=true
; begin auth token
//azure.npm/path/registry/:username=username
//azure.npm/path/registry/:_password=UEFUX1RPS0VOX0hFUkU=
//azure.npm/path/registry/:email=email@email.com
//azure.npm/path/:username=username
//azure.npm/path/:_password=UEFUX1RPS0VOX0hFUkU=
//azure.npm/path/:email=email@email.com
; end auth token